<div class="centralview">
  <div class="leftcolumn">
    <h3>Bruno Ramme - Quem é?</h3>
    <p>Bruno Ramme trabalha com ERPs na área de gestão industrial e materiais há vários anos. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse porttitor condimentum scelerisque. Sed suscipit semper elit ut vestibulum. Integer vitae felis quis mi faucibus tincidunt. In hendrerit turpis lobortis mi varius euismod. Quisque pharetra nisi ac magna blandit aliquam. Etiam pretium, urna eget dignissim accumsan, lacus lacus luctus risus, ac convallis est enim eu diam. Nunc fermentum libero enim, vel interdum tellus lobortis nec.

        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut facilisis tincidunt feugiat. Donec sed finibus magna. In quis libero a nisi facilisis congue ut sit amet erat. Sed porta tempus auctor. Sed hendrerit vitae velit sit amet laoreet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed imperdiet lacus, ut volutpat lacus. Vestibulum tincidunt, tortor in fringilla sodales, magna sem facilisis ex, in faucibus massa mi non lectus. Sed nec ipsum vitae arcu bibendum feugiat. Donec non ullamcorper tellus.</p>
  </div>
</div>